{% extends "base.html.twig" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <!--<div class="row justify-content-center">
        <div class="col myDiv">Software Engineer</div>
        <div class="col myDiv">Computer Engineer</div>
    </div>-->
    <div class="row main">
        <div class="col-2 myDiv2">
            <img src="{{ asset('app/img/praia_de_lado.jpg') }}" class="logo-img">
            <div class="row name">
                <h1 class="textName">Jeferson Luiz</h1>
            </div>
            <div class="row badges">
                <a href="">
                    <img src="https://img.shields.io/badge/Profile%20Visitors-172B4D?style=for-the-badge&logo=Opsgenie&logoColor=white"/>
                </a>
            </div>
            <div class="row badges">
                <a href="">
                    <img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"/>
                </a>
            </div>
            <div class="row badges">
                <a href="">
                    <img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white"/>
                </a>
            </div>
            <div class="row badges">
                <a href="">
                    <img src="https://img.shields.io/badge/Instagram-E4405F?style=for-the-badge&logo=instagram&logoColor=white"/>
                </a>
            </div>
        </div>

        <div class="col-10 myDiv10">
            {% for postagem in postagens %}
                <a href={{ postagem.url }} class="button">
                    <div class="row row-post">
                            <div class="col-3">
                                <img src={{ postagem.icon }} class="img-post">
                            </div>
                            <div class="col-9 teste">
                                <h2>{{ postagem.titulo }}</h2>
                                <p>{{ postagem.descricao }}</p> 
                            </div>
                    </div>
                </a>
            {% endfor %}
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
<style>
    .main {
        height: 100vh;
        width: 100%;
    }
    .myDiv2 {
        background-color: #dcdcdc;
        text-align: center;
    }
    .myDiv10 {
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
    }
    .logo-img {
        height: 130px;
        width: 130px;
        border-radius: 50%;
        border: 1px outset black;
    }
    .textName {
        font-size: 30px;
        font-family: "Times New Roman", Times, serif;
    }
    .name {
        margin-bottom: 100%;
    }
    .badges {
        margin-bottom: 10px;
    }
    .img-post {
        height: 95px;
        width: 125px;
    }
    .row-post {
        box-shadow: 2px 1px #888888;
        padding: 0;
        margin-bottom: 10px;
        margin-right: 50px;
        border-radius: 20px;
        background-color: #dcdcdc;
    }

    h2 {
        display: flex;
        justify-content: left;
    }
    p {
        text-align: left;
    }
    
    .button {
        all: unset;
        display: grid;
        transform: scale(1);
        transition: transform ease-in-out 250ms, box-shadow ease-in-out 250ms;
        cursor: pointer;
    }
    .button:hover {
        transform: scale(1.008);
    }

</style>
{% endblock %}